{% extends 'base.html' %}

{% block header_text %}My Lists{% endblock %}

{% block list_form %}{% endblock %}

{% block extra_content %}
  <h3>{{ owner.email }}'s lists</h3>
  <ul>
    {% for list in owner.list_set.all %}
      <li><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></li>
    {% endfor %}
  </ul>
  <br/>
  <h3>Lists shared with {{ owner.email }}</h3>
  <ul>
    {% for list in owner.shared_lists.all %}
      <li><a href="{{ list.get_absolute_url }}">{{ list.name }}</a></li>
    {% endfor %}
{% endblock %}
